* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F172A;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    z-index: 10;
    color: #E0F7FA;
    background-color: #16223f;
    font-family: monospace;
}

.heading {
    font-size: 25px;
    font-weight: bold;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-button .icon-menu:nth-child(2) {
    display: none;
}

/* Menu styling */
.menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 5;
}


.menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.menu ul li {
    font-size: 20px;
    list-style: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: relative;
    color: #E0F7FA;
    transition: background 0.2s;
    transition: color 0.4s;
}

.menu ul li:hover {
    color: #00FFFF;
}

.menu ul li::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #00FFFF;
    transition: width 0.3s ease;
}

.menu ul li:hover::after {
    width: 100%;
}

@keyframes menuAnimation {
    from {
        width: 0ch;
    }
}

/*menu on larger screens */
@media (min-width: 1000px) {
    .heading {
        font-size: 30px;
    }

    .menu ul li {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .menu {
        display: block;
        position: static;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .menu ul {
        flex-direction: row;
        gap: 2rem;
    }

    .menu ul li {
        padding: 0;
    }
}

/* Home */
.home {
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}

.profile {
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10000px;
    box-shadow: 1px 1px 61px 22px #00FFFF;
}